
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex: 2;
}

.section1 {
  display: flex;
  flex: 1;
}

.section2 {
  display: flex;
  flex: 1;
}

.header {
  background-color: rgb(213, 235, 235);
  padding: 15px;
  margin-bottom: 1px;
  border-radius: 15px;
}

.nav {
  font-family: cursive;
}

nav a {
  margin-right: 30px;
  color: rgb(201, 35, 35);
  font-size: 12px;
}

.nav a:hover {
  background-color: rgb(17, 183, 224);
  transition: 300ms all;
}

.sidebar {
  background-color: rgb(213, 235, 235);
  padding: 30px;
  flex-basis: 30%;
  margin-bottom: 1px;
  border-radius: 10px;
}

.sidebar img {
  width: 150px;
  height: 216px;
  margin-left: -40px;
  float: left;
}

.sidebar span {
  font-size: 14px;
  margin-left: 20px;
  font-family: cursive;
  line-height: 390%;
}

.sidebar p {
  margin-top: -20px;
  color: rgb(201, 35, 35);
  font-size: 14px;
}

.social-media:nth-last-child(1) {
  background-color: rgb(245, 138, 138);
}

.social-media:nth-last-child(2) {
  background-color: rgb(207, 140, 140);
}

.social-media:nth-last-child(3) {
  background-color: rgb(219, 179, 179);
}

.social-media:nth-last-child(4) {
  background-color: rgb(240, 221, 221);
}

.main {
  background-color: rgb(213, 235, 235);
  padding: 30px;
  flex: 1;
  margin-left: 1px;
  margin-bottom: 1px;
  border-radius: 10px;
}

.main p {
  margin-top: -20px;
  color: rgb(201, 35, 35);
  font-size: 14px;
}

#extra {
  color: black;
  font-family: cursive;
}

table {
  font-size: 14px;
  font-family: cursive;
  margin-top: -10px;
}

table tr {
  line-height: 200%;
}

.main table tr:nth-last-child(1) {
  background-color: rgb(245, 138, 138);
}

.main table tr:nth-last-child(2) {
  background-color: rgb(207, 140, 140);
}

.main table tr:nth-last-child(3) {
  background-color: rgb(219, 179, 179);
}

.main table tr:nth-last-child(4) {
  background-color: rgb(240, 221, 221);
}

h4 {
  font-family: cursive;
}

.cocuk {
  background-color: rgb(213, 235, 235);
  padding: 30px;
  flex-basis: 30%;
  margin-bottom: 1px;
  border-radius: 10px;
}

.cocuk p {
  margin-top: -20px;
  color: rgb(201, 35, 35);
  font-size: 14px;
}

.cocuk table tr:nth-last-child(1) {
  background-color: rgb(245, 138, 138);
}

.cocuk table tr:nth-last-child(2) {
  background-color: rgb(207, 140, 140);
}

.cocuk table tr:nth-last-child(3) {
  background-color: rgb(219, 179, 179);
}

.cocuk table tr:nth-last-child(4) {
  background-color: rgb(240, 221, 221);
}

.arkadas {
  background-color: rgb(213, 235, 235);
  padding: 30px;
  flex: 1;
  margin-left: 1px;
  margin-bottom: 1px;
  border-radius: 10px;
}

.arkadas p {
  margin-top: -20px;
  color: rgb(201, 35, 35);
  font-size: 14px;
}

.arkadas table tr:nth-last-child(1) {
  background-color: rgb(245, 138, 138);
}

.arkadas table tr:nth-last-child(2) {
  background-color: rgb(207, 140, 140);
}

.arkadas table tr:nth-last-child(3) {
  background-color: rgb(219, 179, 179);
}

.arkadas table tr:nth-last-child(4) {
  background-color: rgb(240, 221, 221);
}

.hobi {
  background-color: rgb(213, 235, 235);
  padding: 30px;
  flex-basis: 30%;
  margin-bottom: 1px;
  border-radius: 10px;
}

.hobi p {
  margin-top: -20px;
  color: rgb(201, 35, 35);
  font-size: 14px;
}

.hobi table tr:nth-last-child(1) {
  background-color: rgb(245, 138, 138);
}

.hobi table tr:nth-last-child(2) {
  background-color: rgb(207, 140, 140);
}

.hobi table tr:nth-last-child(3) {
  background-color: rgb(219, 179, 179);
}

.hobi table tr:nth-last-child(4) {
  background-color: rgb(240, 221, 221);
}

.video {
  background-color: rgb(213, 235, 235);
  padding: 30px;
  flex: 1;
  margin-left: 1px;
  margin-bottom: 1px;
  border-radius: 10px;
}

.video p {
  margin-top: -20px;
  color: rgb(201, 35, 35);
  font-size: 14px;
}

#bir {
  border: 10px solid rgb(207, 140, 140);
  border-radius: 20px;
}

#iki {
  border: 10px solid rgb(207, 140, 140);
  border-radius: 20px;
  margin-left: 40px;
}

.footer {
  background-color: rgb(213, 235, 235);
  padding: 10px;
  margin-top: 2px;
  border-radius: 10px;
}

#footer {
  background-color: rgb(240, 221, 221);
}